{% extends "layout.twig" %}

{% block content %}
    <h1>Admin</h1>
    <ul>
        <li><a href="../RepasoPHP/users/add">Add User</a></li>
        <li><a href="../RepasoPHP/jobs/add">Add Job</a></li>
        <br><br>
        <li><a href="../RepasoPHP/login">Logout</a></li>
    </ul>
{% endblock %}